@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500');

body{
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
}

.text-center{
  text-align: center;
}

.absolute-height{
  height: 100%;
}
